<!DOCTYPE html>

<html>
<head>
  {% extends 'base.html' %}
  {% block head %}
  {% endblock %}
</head>
<body>
    {% block body %}
    <div align='center'>
        <h3>
            {{ session.get('user_name') }}'s Account
        </h3>
    </div>
    <hr style="border: 1px solid black">
    <div align='center' style="margin-left: auto; margin-right: auto; width: 95%; overflow: auto; white-space: nowrap;">
        <li style="display: inline-block; width: 400px;">
            <strong>e-mail address:</strong> {{ session.get('user_email') }}
        </li>
        <li style="display: inline-block; width: 400px;">
            <strong>account type:</strong> {{ session.get('account_type') }} (<a href="{{ url_for('terminate_account') }}">terminate account</a>)
        </li>
    </div>
    <hr style="border: 1px solid black">
    <div>
    </div>
    <br><br>
    {% endblock %}
</body>
</html>
